# Qeltrun environment template
# Do not commit real secrets.

RPC_URL=
SEPOLIA_RPC_URL=
PRIVATE_KEY=
IEXEC_PRIVATE_KEY=
ETHERSCAN_API_KEY=
NEXT_PUBLIC_NOX_COMPUTE_ADDRESS=0x24ef36ec5b626d7dcd09a98f3083c2758f0f77bf
NEXT_PUBLIC_CHAIN_ID=11155111
NEXT_PUBLIC_QELTRUN_CONTRACT_ADDRESS=
